:root {
  --bodyBg: #333;
  --bodyColor: white;
  --headerShade: #666;
  --bodyShade: #444;
  --primary: #82be13;
  --shade1: #67a300;
  --shade2: #4d8900;
  --shade3: #326e00;
  --shade4: #175300;
  --shade5: #003900;
  --secondary: #2cbe13;
  --tertiary: #13bea5;
  --complementary: #4f13be;
  --muted-btn: #333;
}

html[data-theme="light"] {
  --bodyBg: #f7f7f7;
  --bodyColor: #333;
  --headerShade: #eee;
  --bodyShade: #ddd;
  --muted-btn: #777;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.incidents {
  background-color: var(--bodyBg);
  color: var(--bodyColor);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1px;
}

.incidents>* {
  max-width: 1100px;
}

.content {
  background-color: var(--bodyShade);
  width: 95%;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: hidden;
}

.btn {
  background-color: var(--primary);
  color: white;
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
}

.btn.sm {
  font-size: 0.8em;
  padding: 5px 10px;
}

.btn.muted {
  background-color: var(--muted-btn);
  color: white;
}

.btn:hover {
  background-color: var(--shade3);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

dialog {
  z-index: 99;
  width: 500px;
  background-color: var(--headerShade);
  color: var(--bodyColor);
  border: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 6px 22px -8px rgba(0,0,0,0.65);
}

.dialog-backdrop {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bodyBg);
  box-shadow: 0 0 5px 100px var(--bodyBg);
  opacity: 0.7;
  
}

@media only screen and (max-width: 600px) {
  .content {
    width: 93vw;
    height: 100vh;
    max-height: 100vh;
  }
}

.loader {
  display: inline-flex;
  gap: 5px;
}

.loader:before,
.loader:after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l4 1.5s infinite;
}

.loader:after {
  --s: -1;
  animation-delay: 0.75s
}

@keyframes l4 {
  0% {
    transform: scaleX(var(--s, 1)) translate(0) rotate(0)
  }

  16.67% {
    transform: scaleX(var(--s, 1)) translate(-50%) rotate(0)
  }

  33.33% {
    transform: scaleX(var(--s, 1)) translate(-50%) rotate(90deg)
  }

  50%,
  100% {
    transform: scaleX(var(--s, 1)) translate(0) rotate(90deg)
  }
}