.toast {
  position: fixed;
  bottom: 20px;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  z-index: 999;
  color: white;
}

.toast.success {
  background-color: green;
}

.toast.danger {
  background-color: red;
}
